.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: solid 1px #545454;
  min-height: 33px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .header {
      max-width: 580px;
      min-height: 24px;
      padding: 28px 0 30px;
  }
}