.form__save {
  width: 100%;
  min-height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  margin-top: 18px;
}

.form__save:hover {
  opacity: 0.8;
}

@media (max-width: 597px) {
  .form__save {
    font-size: 14px;
    min-height: 46px;
  }
}